// ======================================
// Variables
// ======================================

$primary: #39B7AC;
$primary-dark: #228896;
$white: #fff;
$black: #333333;
$subtle-grey: #F2F2F2;
$light-text: #999999;

// ======================================
// Global
// ======================================

html, body {
    width: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    color: $black;
}

// ======================================
// Header
// ======================================

header {
    background: linear-gradient(to right, #52BD8B, #29ABE2);
    padding-bottom: 130px;
}

// ======================================
// Navigation
// ======================================

.top-nav {
    padding-top: 30px;
    .logo {
        float: left;
        img {
            height: 50px;
        }
    }
    .menu {
        float: right;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            display: block;

            a {
                padding: 20px 10px;
                color: $white;
            }
        }
    }
}


// ======================================
// Main
// ======================================

main {
    padding-bottom: 100px;
    margin-top: -30px;

}

// ======================================
// Typography
// ======================================

a {
    text-decoration: none !important;
}

// ======================================
// Components
// ======================================

.zoekertje {
    border-top: 1px solid $subtle-grey;
    padding: 20px;
    margin: -21px -20px -20px;

    .user-thumbnail {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
    }

    h2 {
        font-size: 18px;
        margin: 0;
    }

    p {
        color: $light-text;
        font-size: 14px;
        line-height: 22px;
    }

    .meta-data {
        span {
            color: $light-text;
            margin-right: 20px;

            @media screen and (max-width: 700px) {
                display: block;
                margin: 0;
            }
        }
    }
}

.user {

    .user-thumbnail {
        position: relative;
        border: 5px solid $white;
        width: 40%;
        box-sizing: border-box;
        padding-bottom: 37%;
        border-radius: 100%;
        display: block;
        margin: calc(-20% - 20px) auto 20px;
        background-size: cover;
        background-position: center;
    }

    .user-name {
        font-size: 20px;
        color: $black;
        margin-bottom: 10px;
        font-weight: bold;
        display: block;
    }

    .user-statistics {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                color: $light-text;

            }
        }
    }

    .user-rating {
        display: table;
        margin: 20px auto;

        i {
            font-size: 30px;
            color: $subtle-grey;
        }
    }
}
.btn,
input[type="submit"] {
    background-color: $primary;
    color: $white;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;


    &.btn-center {
        display: table;
        margin: 0 auto;
    }

    &.btn-full-width {
        display: block;
        width: 100%;
    }
}

// ======================================
// Footer
// ======================================

footer {

    .prefooter {
        background-color: $subtle-grey;
        padding: 50px 0;

        h2 {
            color: $primary-dark;
            margin: 0;
            font-size: 18px;

            @media screen and (max-width: 767px) {
                margin-top: 20px;
            }
        }

        ul {
            padding: 0;
            margin: 15px 0 0;
            list-style-type: none;

            a {
                display: block;
                color: $light-text;
                line-height: 24px;
                padding-left: 0px;
                transition: all .15s ease-in-out;

                &:hover {
                    padding-left: 5px;
                    text-decoration: none;
                }
            }
        }

        p {
            color: $light-text;
            line-height: 24px;
        }

    }

    .copyright {
        background: $primary;
        padding: 20px 0;

        p {
            color: $white;
            margin: 0;
            text-align: center;
        }
    }
}





// ======================================
// Page: Login
// ======================================

.page-login {
    position: fixed;
    text-decoration: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #52BD8B, #29ABE2);
    padding-top: 50px;

    .logo {
        width: 150px;
        display: block;
        margin: 0 auto 80px;
    }

    p {
        color: $white;
    }

    form {
        background-color: $white;
        padding: 20px;

        label {

        }

        input {
            width: 100%;
            display: block;
            margin-bottom: 15px;
            padding: 5px 10px;
            outline: none;
            border: 1px solid $subtle-grey;
        }
    }
}


.pane-title {
    display: none;
}

.region-primary-sidebar {
    padding: 20px;
    border: 1px solid $subtle-grey;
    background-color: $white;
}

.filter-wrapper,
.user-picture,
span.new {
    display: none;
}

.comment-form {
    margin: 30px 0;
    textarea {
        resize: vertical;
        border: 1px solid $subtle-grey;
        outline: none;
        padding: 10px;
    }

    input[type="submit"] {
        padding: 6px 15px;
        font-size: 14px;
    }

    .gripple {
        display: none;
    }

}
.comment {
    background-color: rgba(0, 0, 0, .05);
    padding: 15px;
    margin-top: 15px;

    .user-picture,
    h3,
    span.new,
    .permalink {
        display: none;
    }

    a {
        color: $primary;
    }
}

// ======================================
// User menu
// ======================================

.region-primary-sidebar, .prefooter {
    ul.menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;

            &.leaf {
                list-style-image: none;
                margin: 0;
            }
            a {
                color: $light-text;
            }

        }
    }
}

ul li.leaf {
    list-style-image: none;
}

// ======================================
// Node form
// ======================================

.node-form {


    input, textarea, select {
        border: 1px solid $subtle-grey;
        outline: none;
        padding: 5px;
        width: 100%;
    }
    textarea {
        resize: vertical;

    }

    input[type="submit"] {
        padding: 6px 15px;
        font-size: 14px;
    }

    .gripple {
        display: none;
    }
}

// ======================================
// Pager
// ======================================

.pager {
    position: relative;
    top: 20px;

    li {
        a {
            color: $light-text;
        }

        &.pager-current {
            a {
                color: $primary;
            }
        }
    }
}


.main-content {
    padding: 20px;
    border: 1px solid $subtle-grey;
    background-color: $white;
}

// ======================================
// login-wrapper
// ======================================

.login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #52BD8B, #29ABE2);
    z-index: 99999;

    #user-login-form {
        padding: 20px;
        border: 1px solid $subtle-grey;
        background-color: $white;

        input[type="text"], input[type="password"] {
            display: block;
            width: 100%;
            padding: 3px 10px;
        }

        .item-list {
            ul {
                padding: 0;
                margin: 10px 0;
                list-style-type: none;

                li {
                    margin: 0;
                }
            }
        }
    }

    .login-logo {
        display: block;
        width: 150px;
        margin: 50px auto 30px;
    }
}

.view-display-id-panel_pane_1 {
    .submitted, .links, .field-name-field-budget, .field-name-og-group-ref {
        display: none !important;
    }

}

// ======================================
// User Single
// ======================================

.pane-user-name {
    .pane-content {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

#edit-direction {
    display: none;
}

.submitted {
    display: none !important;
}

.form-textarea-wrapper {
    textarea {
        height: 200px !important;
    }
}
