// ======================================
// Variables
// ======================================

$primary: #39B7AC;
$primary-dark: #228896;
$white: #fff;
$black: #333333;
$subtle-grey: #F2F2F2;
$light-text: #999999;

// ======================================
// Global
// ======================================

html, body {
    width: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    color: $black;
}

// ======================================
// Header
// ======================================

header {
    background: linear-gradient(to right, #52BD8B, #29ABE2);
    padding-bottom: 130px;
}

// ======================================
// Navigation
// ======================================

.navbar-default {
    background-color: transparent;
    border: none;

    .navbar-brand {
        img {
            height: 50px;
        }
    }

    .navbar-nav {
        li {
            a {
                color: $white !important;
                background-color: transparent !important;
                padding: 35px 15px;
            }
        }
    }

    .navbar-collapse {
        border: none !important;
    }

    @media screen and (max-width: 767px) {
        .navbar-nav {
            li {
                a {
                    padding: 15px 15px;
                }
            }
        }

        .navbar-toggle {
            position: relative;
            top: 10px;
            border: none;
            background-color: transparent !important;

            span {
                background-color: $white !important;
            }
        }
    }

}

// ======================================
// Main
// ======================================

main {
    padding-bottom: 100px;
    margin-top: -30px;

}

// ======================================
// Typography
// ======================================

a {
    text-decoration: none !important;
}

// ======================================
// Components
// ======================================

.zoekertje {
    border: 1px solid $subtle-grey;
    padding: 20px;
    margin-top: -1px;
    background-color: $white;

    .user-thumbnail {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
    }

    h2 {
        font-size: 18px;
        margin: 0;
    }

    p {
        color: $light-text;
        font-size: 14px;
        line-height: 22px;
    }

    .meta-data {
        span {
            color: $light-text;
            margin-right: 20px;

            @media screen and (max-width: 700px) {
                display: block;
                margin: 0;
            }
        }
    }
}

.user {
    padding: 20px;
    border: 1px solid $subtle-grey;
    background-color: $white;

    .user-thumbnail {
        position: relative;
        border: 5px solid $white;
        width: 40%;
        box-sizing: border-box;
        padding-bottom: 37%;
        border-radius: 100%;
        display: block;
        margin: calc(-20% - 20px) auto 20px;
        background-size: cover;
        background-position: center;
    }

    .user-name {
        font-size: 20px;
        color: $black;
        margin-bottom: 10px;
        font-weight: bold;
        display: block;
    }

    .user-statistics {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                color: $light-text;

            }
        }
    }

    .user-rating {
        display: table;
        margin: 20px auto;

        i {
            font-size: 30px;
            color: $subtle-grey;
        }
    }
}

.btn {
    background-color: $primary;
    color: $white;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;


    &.btn-center {
        display: table;
        margin: 0 auto;
    }

    &.btn-full-width {
        display: block;
        width: 100%;
    }
}

// ======================================
// Footer
// ======================================

footer {

    .prefooter {
        background-color: $subtle-grey;
        padding: 50px 0;

        h2 {
            color: $primary-dark;
            margin: 0;
            font-size: 18px;

            @media screen and (max-width: 767px) {
                margin-top: 20px;
            }
        }

        ul {
            padding: 0;
            margin: 15px 0 0;
            list-style-type: none;

            a {
                display: block;
                color: $light-text;
                line-height: 24px;
                padding-left: 0px;
                transition: all .15s ease-in-out;

                &:hover {
                    padding-left: 5px;
                    text-decoration: none;
                }
            }
        }

        p {
            color: $light-text;
            line-height: 24px;
        }

    }

    .copyright {
        background: $primary;
        padding: 20px 0;

        p {
            color: $white;
            margin: 0;
            text-align: center;
        }
    }
}





// ======================================
// Page: Login
// ======================================

.page-login {
    position: fixed;
    text-decoration: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #52BD8B, #29ABE2);
    padding-top: 50px;

    .logo {
        width: 150px;
        display: block;
        margin: 0 auto 80px;
    }

    p {
        color: $white;
    }

    form {
        background-color: $white;
        padding: 20px;

        label {

        }

        input {
            width: 100%;
            display: block;
            margin-bottom: 15px;
            padding: 5px 10px;
            outline: none;
            border: 1px solid $subtle-grey;
        }
    }
}
